@font-face {
    font-family: Rubik;
    src: url(./Rubik.ttf) format("woff");
    font-display: swap;
}

:root {
    --fs1: 32px;
    --fs2: 24px;
    --fs3: 18px;
    --fs4: 16px;
    --fs5: 15px;
    --pd1: 1.5% 5%;
    --pd2: 7% 5% 0;
    --pd3: 3% 6% 6% 3%;
    --gap1: 30px;
    --gap2: 20px;
}

::selection {
    background: yellow;
    color: #888;
}

::-webkit-scrollbar {
    width: 15px;
    background: #333;
}

::-webkit-scrollbar-button {
    width: 100%;
    height: 15px;
    background: yellow;
    border-left: 2px solid #333;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background: yellow;
    border-left: 2px solid #333;
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
    letter-spacing: 0.05rem;
}

.root {
    width: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

@media(max-width: 1100px) {
    :root {
        --fs1: 26px;
        --fs2: 20px;
        --fs3: 16px;
        --fs4: 14px;
        --fs5: 12px;
        --pd3: 3% 4% 4% 3%;
    }
}

@media(max-width: 900px) {
    :root {
        --fs1: 22px;
        --fs2: 18px;
        --fs3: 15px;
        --fs4: 13px;
        --fs5: 11px;
        --pd1: 2% 5%;
        --pd3: 2.5% 4% 4% 2.5%;
    }
}

@media(max-width: 780px) {
    :root {
        --fs1: 19px;
        --fs2: 16px;
        --fs3: 14px;
        --fs4: 13px;
        --pd3: 4% 9% 7% 4%;
    }
}

@media(max-width:645px) {
    :root {
        --fs1: 16px;
        --fs2: 15px;
        --gap1: 20px;
        --gap2: 15px;
    }
}

@media(max-width: 550px) {
    :root {
        --gap1: 15px;
        --gap2: 10px;
        --fs3: 12px;
        --fs4: 11px;
    }
}


@media(max-width: 400px) {
    :root {
        --pd3: 4% 8% 8% 4%;
    }
}